@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

:root {
    --eclipse-blue:#21293b;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Open Sans Condensed", sans-serif;
}