@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

:root {
    --eclipse-blue:#1b2232;
    --jazz-blue: #3b4a6a;
    --kashmir-blue: #50648c;
    --debonair-blue: #253650;
    --cream: #e9c6af;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Open Sans Condensed", sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Open Sans Condensed", sans-serif;
}

.section{
    /* height: 50vw; */
    width: 100%;
    background-color: var(--eclipse-blue);
    padding: 30vh 15vw 30vh 15vw;
    color: #fff;
}

.section > h1{
    font-size: 3em;
    font-weight: normal;
}

::-webkit-scrollbar {
    width: 8px;
    
}
::-webkit-scrollbar-thumb {
    background: var(--kashmir-blue);
    border-radius: 4px;
}