@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

:root {
    --eclipse-blue:#1b2232;
    --jazz-blue: #3b4a6a;
    --kashmir-blue: #4d5f88;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Open Sans Condensed", sans-serif;
}

h1 {
    font-family: "Open Sans Condensed", sans-serif;
}

.section{
    /* height: 50vw; */
    width: 100%;
    background-color: var(--eclipse-blue);
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 30vh;
    color: #fff;
}

::-webkit-scrollbar {
    width: 8px;
    
}
::-webkit-scrollbar-thumb {
    background: var(--kashmir-blue);
    border-radius: 4px;
}