body, html {
    height: 100%;
    width: 100%;
}

.cityContainer{
    position: relative;
    height: 100%;
    width: 100vw;
    max-width:100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-start: 1;
    grid-column-start: 1;
    z-index: -2;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.cityContainer > img{
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    padding: 0;
}

.title{
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    width: 60vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}

.city1 {
    z-index: 4;
    height: 100%;
    width: 100vw;
    max-width:100%;
}

.city2 {
    z-index: 3;
    height: 100%;
    width: 100vw;
    max-width:100%;
}

.city3 {
    z-index: 2;
    height: 100%;
    width: 100vw;
    max-width:100%;
}

.city4 {
    z-index: 1;
    height: 100%;
    width: 100vw;
    max-width:100%;
}

.sun{
    position: absolute; 
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    z-index: -1;
    width: 7.5vw;
    height: auto;
}

.moon{
    position: absolute; 
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    z-index: -1;
    width: 7.5vw;
    height: auto;
}

.section{
    height: 50vw;
    width: 100%;
    background-color: var(--eclipse-blue);
}

.sliderContainer {
    width: 100%; /* Width of the outside container */
  }
  
/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    border-radius:12px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
  
/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
  
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius:12px;
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
  
.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    align-items: center;
}
.header h2 {
    font-size: 4em;
}
.header h3 {
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background: #D42990;
    padding: 10px 16px;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: 500;
}

