.navbarContainer {
    position: fixed;
    bottom: 0;
    left: 1vw;
    top: 0;
    padding-left: 0;
    width: 10%;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    color: #fff;
}

.navbarList{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    left: 0;
}

.navbarList > li{
    margin-bottom: auto;
}

.activeTab {
    background: none;
    color: #FFF;
    outline: none;
    border: none;
    transition: color .2s ease-in, font-size .2s;
    font-size: 2vw;
    margin-top: 0.2em;
}

.tabs {
    background: none;
    color: var(--kashmir-blue);
    outline: none;
    border: none;
    transition: color .2s ease-in, font-size .2s;
    font-size: 1vw;
}

@media (max-width: 715px) {
    .navbarContainer {
        display: none;
    }
}