.cardsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill,  minmax(min(300px,100%), 1fr));
    grid-gap: 15px;
    position: relative;
    margin-top: 50px;
}

.cardContainer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    height: 100%;
    padding: 2rem 1.75rem;
    background-color: var(--debonair-blue);
}

.projectTitle {
    margin: 0 0 10px;
    color: var(--cream);
    font-weight: bold;
}

.projectTitle a {
    font-size: 1.5em;
    color: var(--cream);
}

.projectTitle a::before{
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
  
.projectDescription {
    color: var(--cream);
    font-size: 0.9em;

}
 
.projectTags {
    justify-self: end;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 0;
    margin: 20px 0 0 0;
    list-style: none;
    color:var(--cream);
    opacity: 50%;
}

.projectTags > li {
    font-size: 0.8em;
    line-height: 1.75;
    margin-bottom: 2px;
    font-family: monospace;
}

.projectTags > li:not(:last-of-type){
    margin-right: 15px;
}

.folder {
    color: var(--cream);
    width: 40px;
    height: 40px;
}

.featureGrid{
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

.featureContainer{
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    /* grid-template-columns: 40% 60%; */
    
}

.featureLeft{
    height: 100%;
    width: 100%;
    display: flex;
    grid-column: 1 / 5;
    align-items: center;
}

.featureRight{
    height: 100%;
    grid-column: 6 / 11;
    display: block;
    position: relative;
}

.featureImage {
    overflow-y: hidden;
    height: 100%;
    display: block;
    position: relative;
}

.featureImage::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 0.1em;
    background-color: hotpink;
    opacity: 1;
    transform: translate3d(0, -100%, 0);
    transition: opacity 300ms, transform 300ms;
}

.featureImage:hover::after,
.featureImage:focus::after {
  transform: translate3d(0, 0, 0);
}

.featureImage img{
    display: block;
    margin: auto;
}